2                                        |natom
5.34   5.34   0.                         |AL(:,1)           
5.34   0.     5.34                       |AL(:,2)
0.0    5.34   5.34                         |AL(:,3)
31  0.   0.   0.         0 0 0           |iatom,x1,x2,x3,imv1,imv2,imv3
33  0.25  0.25  0.25     0 0 0

