 8                                                   | natom
  .1068260E+02   .0000000E+00   .0000000E+00         | AL(1,1), AL(2,1), AL(3,1) (a.u)
  .0000000E+00   .1068260E+02   .0000000E+00         | AL(1,2), AL(2,2), AL(3,2)
  .0000000E+00   .0000000E+00   .1068260E+02         | AL(1,3), AL(2,3), AL(3,3)
31    .000000E+00  .000000E+00  .000000E+00    0  0  0  | iatom, x1,x2,x3, im1,im2,im3
31    .000000E+00  .500000E+00  .500000E+00    0  0  0
31    .500000E+00  .000000E+00  .500000E+00    0  0  0
31    .500000E+00  .500000E+00  .000000E+00    0  0  0
33    .260000E+00  .260000E+00  .260000E+00    1  1  1
33    .250000E+00  .750000E+00  .750000E+00    0  0  0
33    .750000E+00  .250000E+00  .750000E+00    0  0  0
33    .750000E+00  .750000E+00  .250000E+00    0  0  0
*************************************************************

natom: the number of atom in this system. 
AL(:,i) the ith edge vector of the supercell (in atomic unit Bohr). 
iatom: the atomic number of the atom.  It could be an artificial number, as long as
       it matchs that in vwr.atom
x1,x2,x3: the atomic position in the unit of egde vector AL(:,1),AL(:,2),AL(:,3). 
        So, x1,x2,x3 are between 0. and 1. 
        The absolute x,y,z coordinate for this atom is:

         x=AL(1,1)*x1+AL(1,2)*x2+AL(1,3)*x3
         y=AL(2,1)*x1+AL(2,2)*x2+AL(2,3)*x3
         z=AL(3,1)*x1+AL(3,2)*x2+AL(3,3)*x3

im1,im2,im3: whether to move the atom in x,y,z (not 1,2,3) direction. 
        0: do not move. 
        1: do move in that direction. 

--------------------------------------
Note, (1) when this file is used to generate the symmetry operation (using kpgen in 
      Kpt_gen directory), the highest symmetry point should be placed at the
      origin (0.,0.,0.)
      (2) The longest edge should be placed as AL(:,1), because this is the direction
      that will be divided and distributed to different processors. 



